@@
# 编译输出
*.o
*.obj
.exe
*.exe
*.out
*.ilk
*.pdb

# CMake 生成
CMakeCache.txt
CMakeFiles/
cmake_install.cmake

# IDE
.vscode/
.idea/

# 构建目录
build/
bin/
lib/
Debug/
Release/

# 临时文件
*.swp
*.swo
*~

# 系统文件
Thumbs.db
.DS_Store
